
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap');

:root{

    --color-body-bg: #8D8DAA;
    --color-card-bg: #DFDFDE;
    --color-text: black;
    --color-primary-blue: #7900FF;
    --color-primary-orange:#ee5007;
    --color-primary-blue-dark: #172774;
    --color-primary-blue-light: #290FBA;
}

/*reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}

html {
    font-size: 14px;
}
img {
    display: block;
    margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 40px 10px;
    background-color: var(--color-body-bg);
    color: var(--color-text);
}

.card__containers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-card-bg);
    padding: 2.5em 0.1em;
    border-radius: 10px;
    overflow: hidden;
}

.card__title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    color: var(--color-primary-blue-light);
}

.card__info-location{
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1rem;
    background-color: var(--color-primary-blue-light);
    padding: 0.8em;
    margin-top: 1.5em;
    color: white;
    font-weight: 400;
}

.card__miniaturas-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__subtitle{
    text-align: center;
    color: var(--color-primary-blue-light);
    letter-spacing: 0.3em;
    text-transform: uppercase;

}

.list__items{
    list-style: none;
    padding: 20px 20px;
    text-align: center;
    background-color: var(--color-primary-blue-light);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    
}
.list__items li{
    margin-bottom: 0.8em;
}

.info__temperature{

    font-size: 2.5rem;
    margin: 10px;
}

.change__temperature{
    appearance: button;
    background-color: var(--color-primary-blue-light);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.25;
    padding: 10px 21px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.change__temperature:hover {
    background-color: #1C84FF;
  }

  
.attribution{
    margin-top: 1.5em;
   
}